@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
  margin: 0;
  background-color: rgb(12, 33, 40) !important;
  font-family: 'Poppins' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color:inherit !important;
}

.bgOverlay {
  background:radial-gradient(transparent,transparent,transparent,transparent,rgba(12, 33, 40),rgba(12, 33, 40),rgb(12, 33, 40));
   position: absolute;
    left: -5%;
    top: -6%;
    width: 110%;
    height: 110%;
}
a:focus {
  color: white !important;
}

*{
  background-color: transparent;
}
code {
  font-family: 'Poppins' !important;
}

.df {
  display: flex;
}
.dif {
  display: inline-flex;
}
.jc {
  justify-content: center;
}
.jse {
  justify-content: space-evenly;
}
.jsb {
  justify-content: space-between;
}
.jfe{
  justify-content: flex-end;
}
.jsa {
  justify-content: space-around;
}
.ac {
  align-items: center;
}
.abl {
  align-items:baseline;
}
.afs {
  align-items:flex-start;
}
.afe{
  align-items: flex-end;
}
.ast {
  align-items: stretch;
}
 .fg{
   flex-grow: 1;
 }
.circle {
  border-radius: 50%;
}
 .fdr{
  flex-direction: row !important;
 }
 .fdc{
  flex-direction: column;
 }

 .homeTitle{
font-size: 180px;
 color: white;
 font-weight: 900 ;
 padding:0px !important;
 margin:0px !important;
 letter-spacing: -5px;
 line-height: 170px;
 text-shadow: 0px 10px 10px rgba(190, 141, 58,0.5) ;
 }


 @media  screen and (max-width:900px){
 .homeTitle {
  font-size:150px;
  line-height: 140px;
 }
   }
 
   @media  screen and (max-width:700px){
   .homeTitle{
    font-size: 100px;
    line-height: 90px;
   }
     }
     @media  screen and (max-width:400px){
      .homeTitle{
       font-size: 70px;
       line-height: 70px;
      }
        }
      
   /* sizes 600px , 370px */
 /* sizes 600px , 370px */